@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "AuthorEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form class="form-group container-fluid" method="post">
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.AuthorID, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Adı Soyadı")
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    <br />
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Yetenekler")
    @Html.TextBoxFor(x => x.AboutShort, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Statü")
    @Html.TextBoxFor(x => x.AuthorTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Mail Adresi")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon")
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkında")
    @Html.TextAreaFor(x => x.AboutShort, 5, 20, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
